---
layout: base.njk
title: Page not found
permalink: /404.html
noindex: yes
eleventyExcludeFromCollections: true
---
<section class="wrap page narrow-page">
  <h1>Page not found</h1>
  <p class="lead">That page doesn’t exist. Try the <a href="/portfolio/">portfolio</a> or go <a href="/">home</a>.</p>
</section>
